


<div class="bg-bgBody ">

  <div class="h-auto bg-teal border rounded m-4 "> 
    <h3>Users list</h3>
    <div class=" flex flex-cols-3 w-full" >
      <div *ngFor="let user of users" class="m-3 bg-white font-poppins m-10 items-center justify-between py-5 p-10 shadow rounded-sm "> 
     
        <h5> first name: {{user.user.firstName}}</h5>
        <h5>last name: {{user.user.lastName}}</h5>
        <h5>email:{{user.user.email}} </h5>
        <h5>phone: {{user.user.phone}} </h5>
        <div class="flex flex-cols">
          <app-button class="font-poppins justify items-center text-xs text-teal p-1 rounded-sm  border border-teal hover:bg-teal hover:text-white mt-3 " type="button" text="Edit" (click)="onEdit()" ></app-button>
          <app-button class=" justify items-center text-xs p-1 mx-2 rounded-sm text-redButton border border-redButton hover:bg-red hover:text-white mt-3" type="button" text="Remove" (click)="onRemove()"></app-button>
      </div>
      </div>
      
    </div>
   
    
  </div>



  
    
    
  </div>
  