<div class=" flex justify-between bg-white shadow h-8 md:h-12 lg:h-20">
    <div class="flex items-center pl-4">
        <app-text class="ml-6 font-poppins font-medium text-teal text-xs font-bold sm:text-sm md:text-xl xl:text-4xl " text="Courses H"> </app-text>
        <app-text class=" font-poppins text-red text-xs font-semibold sm:text-sm md:text-xl xl:text-4xl" text="otCoders"></app-text>
        
    </div>
    <div class="flex items-center mt-8 -ml-10 ">
        <app-navlink class="text-red-200 font-poppins"></app-navlink>

    </div>
   <div class=" ">
    <mat-icon class=" xs:mt-3 text-teal bg-white text-2xl rounded-full lg:mt-5  mr-16 shadow">person-circle</mat-icon>
   </div>
  

</div>