<div class="flex items-center">
    <div class="mr-3">
        <app-link class="text-grayd text-xs  hover:text-black hover:cursor-pointer focus:text-black sm:text-sm md:text-lg " routerLink="/" text="Home" ></app-link>
    </div  >
    <div class="mr-3 ml-5">
        <app-link class="text-grayd text-xs  hover:text-black hover:cursor-pointer focus:text-black sm:text-sm md:text-lg " routerLink="/login" text="Login" ></app-link>
    </div  >
    <div class="ml-10">
        <app-link class="text-grayd text-xs hover:text-black hover:cursor-pointer focus:text-black sm:text-sm md:text-lg" routerLink="/signup" text="Signup"></app-link>
    </div>
   

    
</div>