 
    <div class=" m-2 mt-20 sm:mt-30 bg-white lg:m-40 lg:mt-40 lx:m-60 w-2/3 rounded  flex flex-col justify-center items-center ">
      <app-text class=" p-4 text-sm sm:p-6 m-5 text-xl md:text-2xl lg:m-7 xl:p-2 font-normal flex font-poppins" text="Hello there! Welcome to the learning platform, we currently have {{coursesLength}} courses for you!" ></app-text>
      <div class="pt-3 lg:text-center pt-7 pb-7 ">
        <a class=" text-white bg-teal px-4 py-1 rounded-sm font-poppins text-xs absolute" routerLink="/login">Login here</a><br>
      </div>
     
    </div>
   
  




<!--  
    <div class=" ml-40 p-4 bg-white mt-40 rounded w-3/4 relative ">
        <app-text class="text-2xl p-4 flex" text="Hello there! Welcome to the dashboard page, you currently have {{coursesLength}} courses" ></app-text><br>
        <div class="text-center">
          <a class="text-white bg-teal px-4 py-1 rounded font-poppins text-xs absolute" routerLink="/">Go Back To Courses</a><br>
        </div>
       
    </div>
  
     -->