<!-- <div [formGroup]="formGroup">
    
    <input class="w-full pl-4 py-2 font-poppins  text-xs outline-none" [ngClass]="{'border border-red rounded-sm': formGroup.get('courseNo')?.invalid && formGroup.get('courseNo')?.touched}" type="number"  formControlName="courseNo" [placeholder]="placeholder">
    <div class=" text-red text-xs font-poppins" *ngIf="formGroup.get('courseNo')?.hasError('required') && formGroup.get('courseNo')?.touched">
       likes is required.
    </div>
    <div class=" text-red text-xs font-poppins" *ngIf="formGroup.get('courseNo')?.hasError('onlyNumbers') && formGroup.get('courseNo')?.touched" >
        Lesson Number should be a positive number.
    </div>
  </div>
   -->