<div class="bg-bgBody flex">
    <div>
        <h3>Sidebar</h3>
        <div *ngFor="let course of courses" class=" m-5 ">
            <button type="submit" class="text-xl" (click)="onClickCourse(course)">{{course.courseName}}</button>
            <p class="text-sm ">By {{course.author}}</p>
        </div>
        
    </div>
    <div *ngFor="let course of courses; let i = index">
       
            <div *ngIf="i === 0" class="mt-16 ml-96 bg-white p-4 shadow w-full">
                <h3 class="text-2xl">{{course.courseName}} </h3>
                <p class="text-teal mt-2 ">By {{course.author}} </p>
                <p class="mt-10">{{course.contents}} </p>
            </div>
        
        
    </div>
</div>