<!-- <div [formGroup]="formGroup">
    <input class="w-full pl-4 py-2 font-poppins text-xs outline-none" [ngClass]="{'border border-red rounded-sm': formGroup.get('progress')?.invalid && formGroup.get('progress')?.touched}" type="number"  formControlName="progress" [placeholder]="placeholder">
    <div class=" text-red text-xs font-poppins" *ngIf="formGroup.get('progress')?.hasError('required') && formGroup.get('progress')?.touched" >
        progress is required.
    </div>
    <div class=" text-red text-xs font-poppins" *ngIf="formGroup.get('progress')?.hasError('onlyNumbers') && formGroup.get('progress')?.touched" >
        Progress should be positive numbers.
    </div>
  </div>
   -->