/* @import url("https://fonts.googleapis.com/css2 ?family=popins:wght@300;400&display=swap"); */

@import "~font-awesome/css/font-awesome.css";



@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
